@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap")


html
  padding: 0
  margin: 0
  font-family: "Montserrat", sans-serif
  height: 100%
  line-height: 1

body 
  margin: 0
  box-sizing: border-box
  position: relative
  top: 100px

a 
  text-decoration: none
  color: white
  &:hover 
    animation: nudge 1s ease-in 
    opacity: .75

a[href=""]
  display: none

li:hover 
  color: #a2c4dc

button
  width: 100px
  background-color: #7b8eed
  color: white
  margin: 2em auto
  padding: .5em 1em
  border-radius: 1em
  border: none
  display: flex
  justify-content: center
  color: black
  cursor: pointer


h1, h2, h3, h4, h5, p
  font-family: "Montserrat", sans-serif
  color: black
  line-height: 1.25


@keyframes nudge 
  0%
    transform: translateY(-5px)
  100% 
    transform: translateY(-5px)
