html,body 
  padding: 0
  margin: 0
  font-family: -apple-system,BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a 
  text-decoration: none
  color: black

li:hover 
  text-decoration: underline
  animation: shake .7s infinite
  
  @keyframes shake
    0% 
      transform: rotate(-.001turn)
    25% 
      transform: rotate(.001turn)
    50% 
      transform: rotate(-.001turn)
    75% 
      transform: rotate(.001turn)
    100% 
      transform: rotate(-.001turn)

button
  border: none
  background-color: black
  color: white
  border-radius: 5px
  padding: 1em
  cursor: pointer
