
.nav 
    width: 100%
    background-color: transparent
    position: fixed


    .menubtn 
        background-color: transparent
        color: white
        z-index: 13
        position: fixed

        .hamburger 
            width: 30px
            height: 30px
            
    .list
        flex-direction: column
        background-color: white
        position: absolute
        list-style: none
        padding: 9px 1em 1em 3em
        text-transform: uppercase
        z-index: 12
        width: 400px
        height: 400px
        background: #bce9e5
        clip-path: circle(400px at 5% -5%)
        top: -20px

.item
    font-size: 1.4em
    padding: 10px
