// .title 
//   text-align: center
//   color: black

.main 
  background-color: #d6dbff9c
  width: 100%
  height: 100%
  overflow: hidden
  color: black

.firstcontainer 
  background-color: #7b8eed
  padding: 2em
  clip-path: circle(100vh at center -51vh)
  z-index: 0


.biosnippet
  text-align: center
  color: white
  line-height: 2
  width: 80vw
  height: 100vh
  margin: auto
  overflow: hidden
  text-overflow: ellipsis


.aboutcontainer
  display: flex
  flex-direction: column
  margin: auto
  padding: 0 0 1em 0

  .about
    display: flex
    flex-direction:  column
    text-align: center
    margin: auto
    background-color: transparent
    color: white
    font-size: 1.1em
    line-height: 1.2em

.techtitle
  font-size: 1.4em
  color: white
  line-height: 1.3em

.tech 
  padding: .5em 1em
  margin: 0 auto 1em auto
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  background-color: #2f7aaa
  border-radius: 1em
  color: white
  width: 290px
  height: 400px
  line-height: 2em
  overflow-y: scroll
  .skills
    line-height: 2em

.tech::-webkit-scrollbar
  background-color: #2f7aaa
  border-radius: 0 1em 1em 0

.tech::-webkit-scrollbar-thumb
  background-color: white
  border-radius: 1em


.projectstitle 
  text-align: center
  padding: 1em 0 0 0

.projects
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0 0 2em 0


@media (max-width: 420px)
  .headline 
    padding: 3em 0 0
    h1 
      padding: 0 1em
      margin: 0
      line-height: 1.3em
    
  .content 
    height: 100vh

  .biosnippet
    display: none
  
  .aboutcontainer
    padding: 2em

@media (min-width: 750px)

  .aboutcontainer
    display: flex
    justify-content: center
    align-items: center
  
    .about
      padding: 0 0 .5em 0 
      width: 80vw
      height: 87vh
    
  
  .tech 
    width: 500px
    height: 22vh
  

@media (min-width: 1045px)
  
  .aboutcontainer .about
      padding: 2em 0 .5em 0 
      width: 80vw
      height: 65vh
    
  .tech 
    width: 70vw
    height: 200px
